html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: black;
  /* background: #f5d39a; */
  background: linear-gradient(135deg, #65bdfc 0%, #1bafff 100%);
  overflow: scroll;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}